@mixin font-face($font-weight, $filename, $font-style) {
  @font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('/fonts/HarmonyOS_Sans_SC/#{$filename}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

$font-weights: (
  250: 'HarmonyOS_SansSC_Thin',
  300: 'HarmonyOS_SansSC_Light',
  400: 'HarmonyOS_SansSC_Regular',
  500: 'HarmonyOS_SansSC_Medium',
  600: 'HarmonyOS_SansSC_Semibold',
  700: 'HarmonyOS_SansSC_Bold',
  900: 'HarmonyOS_SansSC_Black',
);

@each $weight, $filename in $font-weights {
  @include font-face($weight, $filename, normal);
}
