/* Import Fonts */
@use '@/assets/css/fonts/HarmonyOS_Sans_SC.scss';
@use '@/assets/css/fonts/Alibaba_PuHuiTi_3.0.scss';
@use '@/assets/css/fonts/JetBrains_Mono.scss';
@use '@/assets/css/fonts/Outfit.scss';

/* Global Styles */
:root {
  --color-primary: #299dff;

  --color-t1: #a0a0a0;
  --color-t2: #dce537;
  --color-t3: #00b3fd;
  --color-t4: #d4c3d4;
  --color-t5: #ffc802;
}

html {
  font-size: 18px;
  overflow-y: scroll;
}

body {
  font-feature-settings: 'calt' on;
}

.link {
  padding: 0.2em;
  text-decoration: none;
  // color: hsla(160, 100%, 37%, 1);
  color: var(--color-primary);
  transition: background-color 0.4s;
  cursor: pointer;
}

.link:hover {
  // background-color: hsla(160, 100%, 37%, 0.2);
  background-color: oklch(from var(--color-primary) l c h / 0.2);
}

figure {
  margin: 1em 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
    font-size: 0.9em;
    color: var(--color-text-light);
    margin-top: 0.5em;
  }
}

.color-t1 {
  color: var(--color-t1);
}

.color-t2 {
  color: var(--color-t2);
  // 添加黑色描边，以增加对比度
  -webkit-text-stroke: 0.1em black;
  paint-order: stroke fill;
}

.color-t3 {
  color: var(--color-t3);
}

.color-t4 {
  color: var(--color-t4);
  // 添加黑色描边，以增加对比度
  -webkit-text-stroke: 0.1em black;
  paint-order: stroke fill;
}

.color-t5 {
  color: var(--color-t5);
}
