@utility text-stroke-* {
  -webkit-text-stroke-color: --value(--color-*);
  -webkit-text-stroke-color: --value([color]);
  -webkit-text-stroke-width: calc(--value(number) * 1px);
  -webkit-text-stroke-width: --value([length]);
}

@utility text-stroke-outer {
  paint-order: stroke fill;
}
